@page "/"
@using ProyectoTiendaOnline.Data
@using ProyectoTiendaOnline.Models




    <div class="row-col-lg-12">
        <section>
            <h1>Bienvenido a tu Tienda Online</h1>
            <a href="#">Iniciar</a>
        </section>
    </div>
   
           

    
